.gradient-bg {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #3730a3;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(55 48 163/0));
  --tw-gradient-stops: var(--tw-gradient-from), #a855f7, var(--tw-gradient-to, rgb(168 85 247/0));
  --tw-gradient-to: #ec4899;
}
