.homeBg {
  @apply bg-cover bg-center;
  background-image: linear-gradient(0deg, rgba(5, 2, 14, 0.32), rgba(5, 2, 14, 0.32)),
    linear-gradient(
      180.08deg,
      rgba(0, 0, 0, 0.12) 33.15%,
      rgba(0, 0, 0, 0.124292) 38.05%,
      rgba(0, 0, 0, 0.13706) 42.93%,
      rgba(0, 0, 1, 0.15814) 47.77%,
      rgba(0, 0, 1, 0.187369) 52.57%,
      rgba(1, 0, 2, 0.224583) 57.31%,
      rgba(1, 0, 2, 0.269619) 61.99%,
      rgba(1, 0, 3, 0.322315) 66.6%,
      rgba(1, 1, 4, 0.382506) 71.14%,
      rgba(2, 1, 5, 0.450029) 75.58%,
      rgba(2, 1, 6, 0.524721) 79.93%,
      rgba(3, 1, 8, 0.606419) 84.17%,
      rgba(3, 1, 9, 0.694959) 88.3%,
      rgba(4, 2, 11, 0.790178) 92.31%,
      rgba(4, 2, 12, 0.891913) 96.19%,
      #05020e 100%
    );
}

.homeButton {
  background-blend-mode: normal, normal, screen, normal;
  background: linear-gradient(0deg, hsla(0, 0%, 100%, 0.4), hsla(0, 0%, 100%, 0.4)), linear-gradient(0deg, rgba(170, 185, 238, 0.5), rgba(170, 185, 238, 0.5)),
    linear-gradient(180deg, #000 12.7%, #000 20.12%, #fff 50.8%, #000 102.65%, #fff 162.45%, #000 210.26%, #fff 256.79%, #000 304.11%, #fff 325.15%),
    linear-gradient(99.61deg, #c5ff7c -21.45%, rgba(254, 176, 254, 0.75) 10.26%, rgba(133, 113, 255, 0.5) 49.67%, rgba(78, 235, 198, 0.75) 83.94%, #7cb0ff 109.19%);
}
